# 문자열 자료형

In [ ]:
#문자열 곱하기
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [ ]:
#문자열 길이 구하기, len함수
a="life is too short, you need Python"
print(len(a))
#문자열 인덱싱
print(a[3])
#(-)뒤에서부터 읽기
print(a[-1])

34
e
n

In [ ]:
#문자열 슬라이싱 [시작:끝+1 번호]
a="life is too short, you need Python"
b=a[0]+a[1]+a[2]+a[3]
print(b)
print(a[0:4])
print(a[5:7])
print(a[:])
#슬라이싱으로 문자열 나누기
a="20010331Rainy"
year=a[:4]
date=a[4:8]
weather=a[8:]
print(year)
print(date)
print(weather)

life
life
is
life is too short, you need Python
2001
0331
Rainy

In [ ]:
#문자열 문자변경/아이템 변경 불가능
a="Pithon"
a[:1]+'y'+a[2:]

'Python'

In [ ]:
#문자열 포매팅. 문자열 안에 값 삽입
#숫자 대입. 문자열 안에 정수 5 대입 / 문자열 포맷코드 %d
print("I eat %d apples."%5)

#숫자값을 나타내는 변수 대입
number = 5
print("I eat %d apples."%number)

#문자열 대입 / 문자열 포맷코드 %s
print("I eat %s apples."%"five")
#%s는 어떤 타입이든 문자열로 자동 변환하여 인식
print("I eat %s apples."%5)

#2개 이상의 값 넣기
day = "two"
print("I ate %d apples. so I was sick for %s days."%(number, day))

#문자 1개 대입
print("I eat %c apples."%"오")

#부동소수 대입
print("I eat %f apples."%5)

I eat 5 apples.
I eat 5 apples.
I eat five apples.
I eat 5 apples.
I ate 5 apples. so I was sick for two days.
I eat 오 apples.
I eat 5.000000 apples.

In [ ]:
#포맷 코드와 숫자 함께 사용
#길이 10인 문자열 공간에서 오른쪽에 값 정렬, 나머지 공백 처리
print("Yun %10s"%"hi")

#길이 10인 문자열 공간에서 왼쪽에 값 정렬, 나머지 공백 처리
print("%-10s Yun"%"hi")

#소수점 표현. %0.(소수점 뒤 숫자 개수)f
print("%0.4f"%3.123456789)

#길이 10인 문자열 공간에서 오른쪽에 값 정렬, 나머지 공백 처리
print("%10.4f"%3.123456789)

Yun         hi
hi         Yun
3.1235
    3.1235

In [ ]:
#format 함수를 사용한  formatting / .format()
# 숫자 대입
print("I eat {0} apples.".format(5))
#숫자값을 가진 변수 대입
number = 5
print("I eat {0} apples.".format(number))

#문자열 대입
print("I eat {0} apples.".format("five"))

#2개이상의 값 넣기 / 문자열의 인덱스 항복이 순차적으로 변환
day = "two"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

#이름으로 대입
print("I ate {a} apples. so I was sick for {b} days.".format(a=5, b="two"))

#인덱스와 이름 혼용해서 대입
print("I ate {0} apples. so I was sick for {day} days.".format(5, day="2"))

I eat 5 apples.
I eat 5 apples.
I eat five apples.
I ate 5 apples. so I was sick for two days.
I ate 5 apples. so I was sick for two days.
I ate 5 apples. so I was sick for 2 days.

In [ ]:
#format 함수를 사용한  formatting / .format()
#왼쪽 정렬 / ':<10 표현식으로 총 자릿 수10 제한 + 왼쪽 정렬
print("{0:<10}".format("hi"))

#오른쪽 정렬 / ':>10 표현식으로 총 자릿 수10 제한 + 오른쪽 정렬
print("{0:>10}".format("hi"))

#가운데 정렬 / ':<10 표현식으로 총 자릿 수10 제한 
print("{0:^10}".format("hi"))

#공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

hi
        hi
    hi
====hi====
hi!!!!!!!!

In [ ]:
#format 함수를 사용한  formatting / .format()
#'{'또는'}' 문자 표현
#중괄호를 문자 그대로 사용하고 싶은 경우엔 2개 연속 사용
"{{and}}".format()

'{and}'

In [ ]:
# f문자열 formatting / Python 3.6 이상부터 가능
#문자열 앞에 접두사f 붙여 사용  
#변수 값 생성 후, 그 값을 참조 가능, 표현식 지원
name = "홍길동"
age = 25
print(f'내 이름은 {name}이고, 나이는 {age}살이다.')
print(f'내년에 나는{age+1}살이 된다.')

#f문자열 formatting에서 dictionary 활용
d={'name':'홍길동','age':25}
print(f'내 이름은 {d["name"]}이고, 나이는 {d["age"]}살 이다.')

#왼쪽, 오른쪽, 가운데 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

#소수점 표현
y = 3.123456789
print(f'{y:0.4f}')
print(f'{y:10.4f}')

내 이름은 홍길동이고, 나이는 25살이다.
내년에 나는26살이 된다.
내 이름은 홍길동이고, 나이는 25살 이다.
hi
        hi
    hi
3.1235
    3.1235

In [ ]:
#문자열 내장 함수/ 문자열 변수명.함수명
#특정 문자 개수 세기(count)
a = "hobby"
print(a.count('b'))

#위치 알림(find, index)
b = "Python is best choice"
print(b.find('b')) 
print(b.find('k')) #찾는 값 없으면 -1 반환
print(b.index('o')) #제일 처음 나온 위치 반환
#index는 찾는 값 없으면 error. find와 차이점

#삽입(join)/ 각각 아이템 사이에 삽입/ list, tuple가능
print(",".join('abcd'))
print(",".join(['a','b','c','d']))

#대, 소문자 변환(upper, lower)
c = "hi"
print(c.upper())
print(c.lower())

2
10
-1
4
a,b,c,d
a,b,c,d
HI
hi

In [ ]:
#문자열 내장 함수(strip)
#공백 지우기(왼쪽, 오른쪽, 양쪽)/ 아이템 사이x, 양 끝의 공백만
a = "     hi     " 
b = "~"
print(a.lstrip() + b)
print(a.rstrip() + b)
print(a.strip( )+ b)

#문자열 변경(replace(바뀌게 될, 바꿀 문자열))
c= "Life is too short"
print(c.replace("Life","Time"))

#문자열 나누기(split(구분자))
d = "a : b : c : d"
print(d.split(':')) 
print(c.split()) #괄호 공백은 공백 기준 나눔

hi     ~
     hi~
hi~
Time is too short
['a ', ' b ', ' c ', ' d']
['Life', 'is', 'too', 'short']

# 리스트 자료형

In [ ]:
#List indexing. 3차원 구조
a = [1,2,['a','b',['Life','is']]]
print(a[2][2][0])

Life

In [ ]:
#List slicing
a = [1,2,3,['a','b','c'],4,5]
print(a[3][:2])

['a', 'b']

In [ ]:
#list 값 수정
a = [1,2,3,4,5,6,7]
a[2] = 4
print(a)

#list 요소 삭제(del(객체))
del a[:4]
print(a)

[1, 2, 4, 4, 5, 6, 7]
[5, 6, 7]

In [ ]:
#list 함수
a = [1,2,3,4]
b = [1,1,2,3,4]
c = [4,3,4,1,2]

#추가 append()
a.append(5) #1개만 추가가능
a.append([6,7])

#삽입 insert(a,b) a번째에 값b 삽입
a.insert(5,[1,2,3])#1개만 추가가능
print(a)

#제거 remove() 첫번째 값 제거
b.remove(1)
print(b)

#끄집어내기 pop
A = b.pop() #값 안넣으면 마지막 값 삭제
print(A, b)

#정렬 sort(), 뒤집기reverse()
c.sort() #
c.reverse()
print(c)

#위치반환 index()/ 값 없으면 error/여러개면 앞의 값 1개 반환
print(c.index(4))

#위치반환 여러개 filter() 사용
def m (A):
  return 4==A #fiter() bool값이 있어야 함
print(list(filter(m,c)))

[1, 2, 3, 4, 5, [1, 2, 3], [6, 7]]
[1, 2, 3, 4]
4 [1, 2, 3]
[4, 4, 3, 2, 1]
0
[4, 4]

In [ ]:
#list 함수
#요소 개수 세기count()
a = [1,2,3,1]
print(a.count(1))

#list 확장 extend([x]) / x엔 list만 가능. 여러 값 추가
#a list + x list 하나의 list로 확장
a.extend([4,5])
print(a)

2
[1, 2, 3, 1, 4, 5]

# 딕셔너리 자료형

In [ ]:
#dictionary
#dic 쌍 추가
dic = {1:'a'}
dic[2] = 'b' #2:'b' 쌍 추가
print(dic)
dic['key'] = [1,2,3]#'key':[1,2,3] 쌍 추가
print(dic)

#dic 요소 삭제
del dic['key']# 해당 key의 쌍 삭제
print(dic)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'key': [1, 2, 3]}
{1: 'a', 2: 'b'}

In [ ]:
#dictionary활용
#key 사용해 value얻기 
#dic변수명[key]
score = {'pey':10, 'jin':99}
print(score['pey'])#없는 key 요청 시,error

#get()
print(score.get('pey'))
print(score.get('x')) #없는 key 요청 시, None 반환

10
10
None

In [ ]:
#dictionary 주의점
#key값 중복 시, 하나 제외 나머지 무시
a = {1:'a', 1:'b'} #key 중복
print(a)

{1: 'b'}

In [ ]:
#dictionary 함수
#key 리스트 keys()
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print(a.keys()) #key만 모아 dict_keys객체 반환
print(list(a.keys())) #list로 출력

#value 리스트 values()
print(a.values())#value만 모아 dict_values객체 반환

#key, value 쌍 얻기 items()
print(a.items())#쌍을 tuple로 묶은 값 객체 반환 

#key; value 쌍 삭제 clear()
print(a.clear()) #dictionary 모든 요소 삭제. {}

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '0119933323', '0722'])
dict_items([('name', 'pey'), ('phone', '0119933323'), ('birth', '0722')])
None

In [ ]:
#dictionary
#key가 dictionary안에 있는지 조사 in
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print('name' in a)
print('x' in a)

True
False

# 집합 자료형

In [ ]:
#set
#순서가 없고 중복을 허용하지 않음
s = set("Hello")
print(s)

#list로 변환 후 인덱싱 가능(tuple도 가능)
S = set([1,2,3,3,3])
L = list(S)#리스트 변환 선언 없이도 순차 출력? 굳이 해야될까
print(S)
print(L)

{'o', 'l', 'H', 'e'}
{1, 2, 3}
[1, 2, 3]

In [ ]:
#set
#교집합, 합집합, 차집합구하기
a = set([1,2,3,4,5,6])
b = set([4,5,6,7,8,9])

#교집합
print(a&b)
print(a.intersection(b))

#합집합. 중복값은 하나씩만 표현
print(a|b)
print(a.union(b))

#차집합
print(a-b)
print(b-a)
print(a.difference(b))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}

In [ ]:
#set 함수
s = set([1,2,3])
#값 1개 추가 add
s.add(4)
print(s)

#값 여러개 추가하기 update
s.update([4,5,6])
print(s)

#특정 값 제거 remove
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}

# bool 자료형

In [ ]:
#bool자료형 지정, 자료형 확인
a = True
b = False
print(type(a))
print(type(b))

#조건문의 반환값으로 사용되는 bool
1 == 1

<class 'bool'>
<class 'bool'>

True

# 변수, 자료형의 값을 저장하는 공간

In [ ]:
#변수 복사
#같은 주소로 복사
a = [1,0,3]
b = a
print(a)
print(b)
a[1]= 2
print(a)
print(b)

[1, 0, 3]
[1, 0, 3]
[1, 2, 3]
[1, 2, 3]

In [ ]:
#다른 주소 값을 가지는 변수 복사
#리스트 전체를 가리키는 [:]사용
a = [1,2,3]
b = a[:]
print(b)
print(b is a)

#copy 모듈 이용
c = a.copy()
print(c)
from copy import copy
d = copy(a) # d = a[:]와 동일
print(d)
print(c is a)
print(d is a)

[1, 2, 3]
False
[1, 2, 3]
[1, 2, 3]
False
False

# if 제어문

In [ ]:
#if문
money = 2000
card = True
if money >= 3000 or card:
  print('택시를 타고 가라')
else:
    print('걸어 가라')

택시를 타고 가라

In [ ]:
#if문. pass(빈 명령문)
pocket = ['paper','cellphon','money']
if 'card' not in pocket:
  pass #아무런 작업 수행 없음
else:
  print('택시를 타고 가라')

In [ ]:
#if문 조건부 표현식
score = 55
if score >= 60:
  message = "success"
else:
  message = "failure"

massage = "success" if score >= 60 else "failure"

# while 제어문(continue, break)

In [ ]:
#while문
treeHit = 0
while treeHit <10:
  treeHit += 1
  print("나무를 %d번 찍었습니다"%treeHit) 
  if treeHit == 10:
    print("나무가 넘어갔습니다")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갔습니다

In [ ]:
#while문. 여러가지 선택지 중 하나를 선택해 입력받기
prompt = '''
  1. Add
  2. Del
  3. List
  4. Quit
Enter number: '''
number = 0 #바로 인풋?
while number != 4:
  print(prompt)
  number = int(input())
  #4입력하면 조건문이 거짓이되에 While문 빠져나감

  1. Add
  2. Del
  3. List
  4. Quit
Enter number:
4

In [ ]:
#break문. while문 강제로 빠져 나가기
coffee = 10
money = 100 #항상 참
while money:
  print("돈을 받고 커피 제공")
  coffee -= 1
  print("커피 재고 %d개"%coffee)
  print()
  if coffee == 0:
    print("커피 재고 부족. 판매중지")
    break

돈을 받고 커피 제공
커피 재고 9개

돈을 받고 커피 제공
커피 재고 8개

돈을 받고 커피 제공
커피 재고 7개

돈을 받고 커피 제공
커피 재고 6개

돈을 받고 커피 제공
커피 재고 5개

돈을 받고 커피 제공
커피 재고 4개

돈을 받고 커피 제공
커피 재고 3개

돈을 받고 커피 제공
커피 재고 2개

돈을 받고 커피 제공
커피 재고 1개

돈을 받고 커피 제공
커피 재고 0개

커피 재고 부족. 판매중지

In [ ]:
#continue
#1부터 10까지 홀수만 출력
a = 0
while a <10:
  a += 1
  if a % 2 == 0: 
    continue
  print(a)

1
3
5
7
9

In [ ]:
#while문 무한루프
#while True:
  print("Ctrl + C를 눌러야 while문을 빠져나갈 수 있습니다")

IndentationError: ignored

# for 제어문

In [ ]:
#for문. for 변수 in list
test_list = ['one','two','three']
for i in test_list:
  print(i)

  a = [(1,2),(3,4),(5,6)]
  for(first, last)in a:
    print(first + last)

In [ ]:
#for문. 학생 5명의 시험점수 판별. 60점이상 합격
marks = [90,27,67,45,80]
number = 0
for mark in marks:
  number += 1
  if mark >= 60:
    print("%d번 학생은 시험점수 %d점으로 합격입니다."%(number,mark))
  else: print("%d번 학생은 시험점수 %d점으로 불합격입니다."%(number,mark))

1번 학생은 시험점수 90점으로 합격입니다.
2번 학생은 시험점수 27점으로 불합격입니다.
3번 학생은 시험점수 67점으로 합격입니다.
4번 학생은 시험점수 45점으로 불합격입니다.
5번 학생은 시험점수 80점으로 합격입니다.

In [ ]:
#for문과 continue
marks = [90,27,67,45,80]
for mark in marks:
  number += 1
  if mark < 60:
    continue
  print("%d번 학생은 합격입니다."%number)

11번 학생은 합격입니다.
13번 학생은 합격입니다.
15번 학생은 합격입니다.

In [ ]:
#for문과 range(start,stop,step_size)
a = range(10) #0부터 10미만 숫자 리스트 가진 range객체 생성
print(a)

add = 0
for i in range(1,11):
  add += i
print(add)

range(0, 10)
55

In [ ]:
#for문과 range이용 구구단
for i in range(2,10):
  for j in range(1,10):
    print(i*j,end=" ")#end매개변수는 다음 값을 그 줄에 계속 출력
  print('') #i 단별로 줄 나누기

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
#list안에 for문 내포 list comprehension
#기본 for문
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

#list안에 for문 내포
result = [num*3 for num in a if num % 2 == 0]#if문은 생략가능
print(result)

[3, 6, 9, 12]
[6, 12]

In [ ]:
#list comprehension 구구단
r = [i*j for i in range(2,10)
        for j in range(1,10)]
print(r)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 함수

In [ ]:
#함수. def 함수명(매개변수)
def add(a,b):
  return a + b #결과값은 오로지 return 명령어로만 돌려받음
print(add(3,4)) #3,4는 인수. 입력값

#결과값이 없는 함수. 함수명(인수1, 인수2. . . )
def add(n,m):
  print("%d,%d의 합은 %d입니다."%(a,b,a+b))
x = add(3,4)#결과값이 아니라 수행할 문장의 하나
print(x) #결과값은 없다

#문자열 대입시 입력값 없이 쓰기도 함
def say(): 
  return'Hi'
print(say())

#입력, 결과값이 모두 없는 함수
def act():
  print('run')
act()

7
3,4의 합은 7입니다.
None
Hi
run

In [ ]:
#함수. 매개변수 지정하여 호출
def add(a,b):
  return a + b
result = add(a=3, b=7)
print(result)

result = add(b=5, a=3)#지정하면 순서 상관없이 입력 가능
print(result)

10
8

In [ ]:
#함수. 입력값이 몇개가 될 지 모를 때 매개변수에 '*'붙임
def many_add(*args):
  result = 0
  for i in args:
    result += i
  return result
  
result = many_add(1,2,3) #함수 호출
print(result)

6

In [ ]:
#add_mul 함수. 여러개의 입력 처리
def add_mul(choice,*args): 
  if choice == 'add': #모든 입력값 합산
    result = 0
    for i in args:
      result = result + i
  elif choice == 'mul': #모든 입력값 곱함
    result = 1
    for i in args:
      result = result * i
  return result

result = add_mul('add',1,2,3,4,5)
print(result)

result = add_mul('mul',1,2,3,4,5)
print(result)

15
120

In [ ]:
#키워드 파라미터 kwargs(keyword arguments)
#사용 시 매개변수 앞에 **붙여야 함
def print_kwargs(**kwargs):
  print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo',age=3)
#딕셔너리로 저장, 출력

{'a': 1}
{'name': 'foo', 'age': 3}

In [ ]:
#함수의 결과값은 언제나 하나
def add_and_mul(a,b):
  return a+b, a*b

result = add_and_mul(3,4)
print(result) #함수의 결과값은 2개지만 튜플값 하나인(a+b,a*b)로 출력

r1, r2 = add_and_mul(3,4)
print(r1) #2개의 결과값처럼 받고싶으면 2개로 나눠 호출
print(r2)

(7, 12)
7
12

In [ ]:
#return 단독 사용으로 함수를 즉시 나갈 수 있음
def say_tom(tom):
  if tom == '바보':
    return #입력값으로 tom이 들어오면 바로 출력 없이 함수 나감
  print('나의 별명은 %s 입니다.'%tom)

say_tom('Hi')
say_tom('tom')

나의 별명은 Hi 입니다.
나의 별명은 tom 입니다.

In [ ]:
#매개변수에 초깃값 미리 설정하여 함수의 인자 전달
def say_myself(name, old, man=True): 
  print('나의 이름은 %s, %d살 입니다.'%(name,old))
  if man:
    print('남자입니다.')
  else:
    print('여자입니다.')
#3개의 매개변수를 받아 마지막 인수인 man이 True면 '남자입니다.' 출력
#man매개변수에 True초깃값이 고정되어서 값이 없으면 True
say_myself('홍길동',27)
say_myself('홍길동',27, False)

나의 이름은 홍길동, 27살 입니다.
남자입니다.
나의 이름은 홍길동, 27살 입니다.
여자입니다.

In [ ]:
#함수 안에서 선언한 변수의 효력 범위
a = 1
def vartest(a):
  a += 1
vartest(a)
print(a)
#한수안에서 새로 만든 매개변수는 함수 안에서만 사용 가능
#함수 안의 a와 밖의 a는 다른 변수

1
None

In [ ]:
#함수 안에서 함수 밖의 변수 변경
#1. return 사용
a = 1
def vartest1(b):
  b += 1
  return b

a = vartest1(a)
print(a) 

#2. global 명령어 사용
def vartest2():
  global a #함수안에서 함수 밖의 a변수를 직접 사용하겠단 뜻
  a += 1
vartest2()
print(a)
#변수는 독립적으로 존재하는게 바람직하므로 권장안함

2
3

In [ ]:
#주어진 자연수가 홀수인지, 짝수인지 함수이용 판별.
def is_odd(num): #홀수 체크
  return num % 2 != 0 #bool값으로 반환

def is_even(num): #짝수체크
  return num % 2 == 0

print(is_odd(input('홀수 체크: '))
print(is_odd(input('짝수 체크: '))

# Lambda

In [ ]:
#lambda 매개변수1,2,3,...: 매개변수이용한 표현식
#lambda는 함수를 생성할 때 쓰는 예약어로 def와 역할 동일
#return 명령어가 없어도 결과값 돌려줌
add = lambda a,b:a+b
result = add(3,4)
print(result)

7

# 사용자 입출력

In [ ]:
#사용자입력 input. 입력되는 모든 것을 문자열 취급
a = input("입력 :")
print(a)

#값 여러개 받기
b = (list(map(int,input().split(' '))))
print(b)
#space로 값을 구분해 입력, int형으로 받아 list로 출력

입력 :j
j
5 6 5 4
[5, 6, 5, 4]

In [ ]:
#출력 print
#큰따옴표("")로 둘러싸인 문자열은 +연산과 동일
print("Life""is""too""short")
print("Life"+"is"+"too"+"short")

#문자열 띄어쓰기는 콤마(,)
print("Life","is","too","short")

#한 줄에 결과값 출력 end
for i in range(10):
  print(i, end=' ')

Lifeistooshort
Lifeistooshort
Life is too short
0 1 2 3 4 5 6 7 8 9

In [ ]:
#파일 읽고 쓰기