<a href="https://colab.research.google.com/github/YeongChaeYun7/Python/blob/main/JumptoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문자열 곱하기
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [ ]:
#문자열 길이 구하기, len함수
a="life is too short, you need Python"
print(len(a))
#문자열 인덱싱
print(a[3])
#(-)뒤에서부터 읽기
print(a[-1])

34
e
n

In [ ]:
#문자열 슬라이싱 [시작:끝+1 번호]
a="life is too short, you need Python"
b=a[0]+a[1]+a[2]+a[3]
print(b)
print(a[0:4])
print(a[5:7])
print(a[:])
#슬라이싱으로 문자열 나누기
a="20010331Rainy"
year=a[:4]
date=a[4:8]
weather=a[8:]
print(year)
print(date)
print(weather)

life
life
is
life is too short, you need Python
2001
0331
Rainy

In [ ]:
#문자열 문자변경/아이템 변경 불가능
a="Pithon"
a[:1]+'y'+a[2:]

'Python'

In [ ]:
#문자열 포매팅. 문자열 안에 값 삽입
#숫자 대입. 문자열 안에 정수 5 대입 / 문자열 포맷코드 %d
print("I eat %d apples."%5)

#숫자값을 나타내는 변수 대입
number = 5
print("I eat %d apples."%number)

#문자열 대입 / 문자열 포맷코드 %s
print("I eat %s apples."%"five")
#%s는 어떤 타입이든 문자열로 자동 변환하여 인식
print("I eat %s apples."%5)

#2개 이상의 값 넣기
day = "two"
print("I ate %d apples. so I was sick for %s days."%(number, day))

#문자 1개 대입
print("I eat %c apples."%"오")

#부동소수 대입
print("I eat %f apples."%5)

I eat 5 apples.
I eat 5 apples.
I eat five apples.
I eat 5 apples.
I ate 5 apples. so I was sick for two days.
I eat 오 apples.
I eat 5.000000 apples.

In [ ]:
#포맷 코드와 숫자 함께 사용
#길이 10인 문자열 공간에서 오른쪽에 값 정렬, 나머지 공백 처리
print("Yun %10s"%"hi")

#길이 10인 문자열 공간에서 왼쪽에 값 정렬, 나머지 공백 처리
print("%-10s Yun"%"hi")

#소수점 표현. %0.(소수점 뒤 숫자 개수)f
print("%0.4f"%3.123456789)

#길이 10인 문자열 공간에서 오른쪽에 값 정렬, 나머지 공백 처리
print("%10.4f"%3.123456789)

Yun         hi
hi         Yun
3.1235
    3.1235

In [ ]:
#format 함수를 사용한  formatting / .format()
# 숫자 대입
print("I eat {0} apples.".format(5))
#숫자값을 가진 변수 대입
number = 5
print("I eat {0} apples.".format(number))

#문자열 대입
print("I eat {0} apples.".format("five"))

#2개이상의 값 넣기 / 문자열의 인덱스 항복이 순차적으로 변환
day = "two"
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

#이름으로 대입
print("I ate {a} apples. so I was sick for {b} days.".format(a=5, b="two"))

#인덱스와 이름 혼용해서 대입
print("I ate {0} apples. so I was sick for {day} days.".format(5, day="2"))

I eat 5 apples.
I eat 5 apples.
I eat five apples.
I ate 5 apples. so I was sick for two days.
I ate 5 apples. so I was sick for two days.
I ate 5 apples. so I was sick for 2 days.

In [ ]:
#format 함수를 사용한  formatting / .format()
#왼쪽 정렬 / ':<10 표현식으로 총 자릿 수10 제한 + 왼쪽 정렬
print("{0:<10}".format("hi"))

#오른쪽 정렬 / ':>10 표현식으로 총 자릿 수10 제한 + 오른쪽 정렬
print("{0:>10}".format("hi"))

#가운데 정렬 / ':<10 표현식으로 총 자릿 수10 제한 
print("{0:^10}".format("hi"))

#공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

hi
        hi
    hi
====hi====
hi!!!!!!!!

In [ ]:
#format 함수를 사용한  formatting / .format()
#'{'또는'}' 문자 표현
#중괄호를 문자 그대로 사용하고 싶은 경우엔 2개 연속 사용
"{{and}}".format()

'{and}'

In [ ]:
# f문자열 formatting / Python 3.6 이상부터 가능
#문자열 앞에 접두사f 붙여 사용  
#변수 값 생성 후, 그 값을 참조 가능, 표현식 지원
name = "홍길동"
age = 25
print(f'내 이름은 {name}이고, 나이는 {age}살이다.')
print(f'내년에 나는{age+1}살이 된다.')

#f문자열 formatting에서 dictionary 활용
d={'name':'홍길동','age':25}
print(f'내 이름은 {d["name"]}이고, 나이는 {d["age"]}살 이다.')

#왼쪽, 오른쪽, 가운데 정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')

#소수점 표현
y = 3.123456789
print(f'{y:0.4f}')
print(f'{y:10.4f}')

내 이름은 홍길동이고, 나이는 25살이다.
내년에 나는26살이 된다.
내 이름은 홍길동이고, 나이는 25살 이다.
hi
        hi
    hi
3.1235
    3.1235

In [ ]:
#문자열 내장 함수/ 문자열 변수명.함수명
#특정 문자 개수 세기(count)
a = "hobby"
print(a.count('b'))

#위치 알림(find, index)
b = "Python is best choice"
print(b.find('b')) 
print(b.find('k')) #찾는 값 없으면 -1 반환
print(b.index('o')) #제일 처음 나온 위치 반환
#index는 찾는 값 없으면 error. find와 차이점

#삽입(join)/ 각각 아이템 사이에 삽입/ list, tuple가능
print(",".join('abcd'))
print(",".join(['a','b','c','d']))

#대, 소문자 변환(upper, lower)
c = "hi"
print(c.upper())
print(c.lower())

2
10
-1
4
a,b,c,d
a,b,c,d
HI
hi

In [ ]:
#문자열 내장 함수(strip)
#공백 지우기(왼쪽, 오른쪽, 양쪽)/ 아이템 사이x, 양 끝의 공백만
a = "     hi     " 
b = "~"
print(a.lstrip() + b)
print(a.rstrip() + b)
print(a.strip( )+ b)

#문자열 변경(replace(바뀌게 될, 바꿀 문자열))
c= "Life is too short"
print(c.replace("Life","Time"))

#문자열 나누기(split(구분자))
d = "a : b : c : d"
print(d.split(':')) 
print(c.split()) #괄호 공백은 공백 기준 나눔

hi     ~
     hi~
hi~
Time is too short
['a ', ' b ', ' c ', ' d']
['Life', 'is', 'too', 'short']

In [ ]:
#List indexing. 3차원 구조
a = [1,2,['a','b',['Life','is']]]
print(a[2][2][0])

Life

In [ ]:
#List slicing
a = [1,2,3,['a','b','c'],4,5]
print(a[3][:2])

['a', 'b']

In [ ]:
#list 값 수정
a = [1,2,3,4,5,6,7]
a[2] = 4
print(a)

#list 요소 삭제(del(객체))
del a[:4]
print(a)

[1, 2, 4, 4, 5, 6, 7]
[5, 6, 7]

In [ ]:
#list 함수
a = [1,2,3,4]
b = [1,1,2,3,4]
c = [4,3,5,1,2]

#추가 append()
a.append(5) #1개만 추가가능
a.append([6,7])

#삽입 insert(a,b) a번째에 값b 삽입
a.insert(5,[1,2,3])#1개만 추가가능
print(a)

#제거 remove() 첫번째 값 제거
b.remove(1)
print(b)

#끄집어내기 pop
A = b.pop() #값 안넣으면 마지막 값 삭제
print(A, b)

#정렬 sort(), 뒤집기reverse()
c.sort() #
c.reverse()
print(c)
#위치반환 index()/ 값 없으면 error
print(c.index(5))

[1, 2, 3, 4, 5, [1, 2, 3], [6, 7]]
[1, 2, 3, 4]
4 [1, 2, 3]
[5, 4, 3, 2, 1]
0

In [ ]:
#list 함수
#요소 개수 세기count()
a = [1,2,3,1]
print(a.count(1))

#list 확장 extend([x]) / x엔 list만 가능
#a list + x list 하나의 list로 확장
a.extend([4,5])
print(a)

2
[1, 2, 3, 1, 4, 5]

In [ ]:
#dictionary
#dic 쌍 추가
dic = {1:'a'}
dic[2] = 'b' #2:'b' 쌍 추가
print(dic)
dic['key'] = [1,2,3]#'key':[1,2,3] 쌍 추가
print(dic)

#dic 요소 삭제
del dic['key']# 해당 key의 쌍 삭제
print(dic)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'key': [1, 2, 3]}
{1: 'a', 2: 'b'}

In [ ]:
#dictionary활용
#key 사용해 value얻기 
#dic변수명[key]
score = {'pey':10, 'jin':99}
print(score['pey'])#없는 key 요청 시,error

#get()
print(score.get('pey'))
print(score.get('x')) #없는 key 요청 시, None 반환

10
10
None

In [ ]:
#dictionary 주의점
#key값 중복 시, 하나 제외 나머지 무시
a = {1:'a', 1:'b'} #key 중복
print(a)

{1: 'b'}

In [ ]:
#dictionary 함수
#key 리스트 keys()
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print(a.keys()) #key만 모아 dict_keys객체 반환
print(list(a.keys())) #list로 출력

#value 리스트 values()
print(a.values())#value만 모아 dict_values객체 반환

#key, value 쌍 얻기 items()
print(a.items())#쌍을 tuple로 묶은 값 객체 반환 

#key; value 쌍 삭제 clear()
print(a.clear()) #dictionary 모든 요소 삭제. {}

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '0119933323', '0722'])
dict_items([('name', 'pey'), ('phone', '0119933323'), ('birth', '0722')])
None

In [ ]:
#dictionary
#key가 dictionary안에 있는지 조사 in
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print('name' in a)
print('x' in a)

True
False