In [48]:
def print_coin():
  print('비트코인')

print_coin()

비트코인

In [49]:
def arthmetic_operation(a,b):
  print(a,'+',b,'=',a+b)
  print(a,'-',b,'=',a-b)
  print(a,'*',b,'=',a*b)
  print(a,'/',b,'=',a/b)

arthmetic_operation(2,5)

2 + 5 = 7
2 - 5 = -3
2 * 5 = 10
2 / 5 = 0.4

In [50]:
def print_max(num1,num2,num3):
  a = max(num1,num2,num3)
  return a

print_max(1,2,3)

3

In [51]:
def print_reverse(string):
  print(string[::-1])

print_reverse('python')

nohtyp

In [52]:
# 하나의 딕셔너리를 입력받아 key값만 화면에 출력
def print_keys(dic):
  return dic.keys()

a = {'가':1,'나':2,'다':3,'라':4}
print_keys(a)

dict_keys(['가', '나', '다', '라'])

In [53]:
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 함수 작성
def print_5xn(string):
  s = int(len(string)/5)
  for i in range(s+1):
    print(string[i*5:i*5+5])

print_5xn('가나다라마바사아자차카타파하')

가나다라마
바사아자차
카타파하

In [54]:
# 문자열(string)과 한줄에 출력될 글자 수(n)를 입력 받아 한 줄에 n만큼 출력하는 함수
def print_mxn(string,n):
  s = int(len(string)/n)
  for i in range(s+1):
    print(string[i*n:i*n+n])

print_mxn('가나다라마바사아자차카타파하',4)

가나다라
마바사아
자차카타
파하

In [55]:
# 연봉을 입력받아 월급을 계산하는 함수
# 1원 미만은 버리고 계산
def calc_monthly_salary(annual_salary):
  m = int(annual_salary/12)
  return m

calc_monthly_salary(5000)

416

In [56]:
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 함수
def make_url(string):
  print('www.%s.com'%string)

make_url('colab')

www.colab.com

In [57]:
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 함수
def make_list(string):
  L = []
  for i in range(len(string)):
    L.append(string[i])
  return L

print(make_list('가나다라'))

def make_list2(string):
  return list(string)

print(make_list2('가나다라'))

['가', '나', '다', '라']
['가', '나', '다', '라']

In [58]:
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 함수
def convert_int(str_num):
  return int(str_num.replace(',',''))

convert_int('1,234,567')

1234567