# List 내장함수 Ex

In [ ]:
# 정렬 sort,reverse
L = [3,1,6,2,4,7,5]

print(sorted(L)) # 정렬

L.sort() # 정렬
print(L) 

L.reverse() # 역정렬
print(L)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = [1,2,3,4]
b = [1,1,2,2,3,3]

#추가 append
a.append(5) #1개만 추가가능
print(a)

#삽입 insert(a,b) a번째에 값b 삽입
a.insert(5,6)#1개만 추가가능
print(a)

#제거 remove() 중복 아이템 있으면 첫번째 값 1개 적용
b.remove(1)
print(b)

#끄집어내기 pop 중복 아이템 있으면 첫번째 값 1개 적용
p = b.pop(2) 
print(p, b)

p = b.pop() #값 안넣으면 마지막 값 삭제
print(p, b)

#위치반환 index()  값 없으면 error/중복 아이템 있으면 첫번째 값 1개 적용
print(b.index(3))

#제거 del 한 번에 여러개 제거 가능 
del b[:]
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 2, 3, 3]
2 [1, 2, 3, 3]
3 [1, 2, 3]
2
[]

In [ ]:
# max, min, sum, len
n = [1,2,3,4,5,6,7]

print('max:',max(n))

print('min:',min(n))

print(sum(n))

print(len(n))

print('avg:',sum(n)/len(n))

max: 7
min: 1
28
7
avg: 4.0

In [ ]:
#list 슬라이싱
price = ['20180728',100,130,140,150,160,170]
print(price[1:])

n = [1,2,3,4,5,6,7,8,9,10]
print(n[::2])
print(n[1::2])
print(n[::-1])

# join, split 메서드
interest = ['네이버','구글','카카오','삼성']
del interest[1]
print(interest)
print(interest, sep=' ') #리스트 형식 출력
print(' '.join(interest)) #요소만 출력
print('\n'.join(interest)) 
string = '네이버/카카오/삼성'
print(string.split('/'))

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['네이버', '카카오', '삼성']
['네이버', '카카오', '삼성']
네이버 카카오 삼성
네이버
카카오
삼성
['네이버', '카카오', '삼성']

In [ ]:
#list 값 수정
a = [1,2,3,4,5,6,7]
a[2] = 4
print(a)

#list 요소 삭제(del(객체))
del a[:4]
print(a)

[1, 2, 4, 4, 5, 6, 7]
[5, 6, 7]

In [ ]:
#list 함수
#요소 개수 세기count()
a = [1,2,3,1]
print(a.count(1))

#list 확장 extend([x]) / x엔 list만 가능. 여러 값 추가
#a list + x list 하나의 list로 확장
a.extend([4,5])
print(a)

2
[1, 2, 3, 1, 4, 5]

# Tuple 내장함수 Ex

In [ ]:
# tuple
my_tuple = (1,) # tule은 값 하나라도 (,)붙여야 튜플로 인식
t =1,2,3,4
print(type(t)) #튜플은 괄호 생략 가능

#튜플은 수정 불가능
#튜플을 가리키는 변수가 다른 튜플을 가리키도록 수정 
a = ('a','b','c')
aa = list(a)
aa[0]='A'
a = tuple(aa)
print(a, type(a))

# range함수
# !~99중 짝수만 저장된 튜플 생성
data = tuple(range(2,100,2))
print(data, type(data))

<class 'tuple'>
('A', 'b', 'c') <class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>

# Dictionary 내장함수 Ex

In [ ]:
#dic 쌍 추가
dic = {1:'a'}
dic[2] = 'b' #2:'b' 쌍 추가
print(dic)
dic['key'] = [1,2,3]#'key':[1,2,3] 쌍 추가
print(dic)

#dic 요소 삭제
del dic['key']# 해당 key의 쌍 삭제
print(dic)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'key': [1, 2, 3]}
{1: 'a', 2: 'b'}

In [ ]:
#dictionary활용
#key 사용해 value얻기 
#dic변수명[key]
score = {'pey':10, 'jin':99}
print(score['pey'])#없는 key 요청 시,error

#get()
print(score.get('pey'))
print(score.get('x')) #없는 key 요청 시, None 반환

10
10
None

In [ ]:
#dictionary 주의점
#key값 중복 시, 하나 제외 나머지 무시
a = {1:'a', 1:'b'} #key 중복
print(a)

{1: 'b'}

In [ ]:
#dictionary 함수
#key 리스트 keys()
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print(a.keys()) #key만 모아 dict_keys객체 반환
print(list(a.keys())) #list로 출력

#value 리스트 values()
print(a.values())#value만 모아 dict_values객체 반환

#key, value 쌍 얻기 items()
print(a.items())#쌍을 tuple로 묶은 값 객체 반환 

#key; value 쌍 삭제 clear()
print(a.clear()) #dictionary 모든 요소 삭제. {}

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '0119933323', '0722'])
dict_items([('name', 'pey'), ('phone', '0119933323'), ('birth', '0722')])
None

In [ ]:
#dictionary
#key가 dictionary안에 있는지 조사 in
a = {'name':'pey','phone':'0119933323','birth':'0722'}
print('name' in a)
print('x' in a)

True
False

# Set 내장함수 Ex

In [ ]:
#set
#순서가 없고 중복을 허용하지 않음
s = set("Hello")
print(s)

#list로 변환 후 인덱싱 가능(tuple도 가능)
S = set([1,2,3,3,3])
L = list(S)#리스트 변환 선언 없이도 순차 출력? 굳이 해야될까
print(S)
print(L)

{'e', 'o', 'H', 'l'}
{1, 2, 3}
[1, 2, 3]

In [ ]:
#set
#교집합, 합집합, 차집합구하기
a = set([1,2,3,4,5,6])
b = set([4,5,6,7,8,9])

#교집합
print(a&b)
print(a.intersection(b))

#합집합. 중복값은 하나씩만 표현
print(a|b)
print(a.union(b))

#차집합
print(a-b)
print(b-a)
print(a.difference(b))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}

In [ ]:
#set 함수
s = set([1,2,3])
#값 1개 추가 add
s.add(4)
print(s)

#값 여러개 추가하기 update
s.update([4,5,6])
print(s)

#특정 값 제거 remove
s.remove(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}