In [ ]:
# print 기초
print("Hello Word")
print("Mary's cosmetics")
print("신씨가 소리질렀다.\"도둑이야\".")
print("\"C:\Windows\"")
print("안녕하세요.\n만나서\t\t반갑습니다.")
print("오늘은","일요일")
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=";") ##
print("naver","kakao","sk","samsung",sep="/")
print("first",end="");print("second") ##
print(5/3)
print(2+2*3)

s = "hello"
t = "python"
print(s,t)

Hello Word
Mary's cosmetics
신씨가 소리질렀다."도둑이야".
"C:\Windows"
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
naver;kakao;sk;samsung
naver/kakao/sk/samsung
firstsecond
1.6666666666666667

In [ ]:
# 파이선 변수는 자주 사용되는 값을 바인딩함
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

시가총액=298000000000000
현재가=50000
PER=15.79
print(시가총액,type(시가총액))
print(현재가,type(현재가))
print(PER,type(PER))

500000
298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# 변수 타입 전환
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))

num = 100
string = str(num)
print(string,type(string))

s = "15.79"
f = float(s)
print(f,type(f))

year = "2022"
year_int = int(year)
print(year_int-2,year_int-1,year_int,sep="년")

720 <class 'int'>
100 <class 'str'>
15.79 <class 'float'>
2020년2021년2022

In [ ]:
#월 48,584원, 무이자 36개월 에어컨의 총 금액
월납부 = 48584
총금액 = 월납부*36
print("에어컨이 촘 금액은",총금액,"원")

에어컨이 촘 금액은 1749024 원

In [ ]:
#문자열 응용(인덱싱, 슬라이싱, 치환)
letters = 'python'
print(letters[0], letters[2])
print(letters[2:])
print(letters[::-1])

홀짝 = "홀짝홀짝홀짝"
print(홀짝[::2]) #슬라이싱 [시작:끝:오프셋]
print(홀짝[::-1])

phone = "010-1111-2222"
print(phone[:3],phone[4:8],phone[9:])
phone2 = phone.replace("-","") #
print(phone2)

url = "http://share.book.kr"
print("도메인 출력:",url[-2:])
url_split = url.split('.') #split. (.)기준으로 분리
print(url_split[-1])

#문자열은 immutable. 수정 불가능

#replace로 소문자a를 대문자A로 변경
m = 'abcde1a2a3a'
print(m.replace('a','A'))

p t
thon
nohtyp
홀홀홀
짝홀짝홀짝홀
010 1111 2222
01011112222
도메인 출력: kr
kr
Abcde1A2A3A

In [ ]:
#문자열 연산
hi = 'hi'
tom ='tom'
print(hi+tom)
star = '*'
print(star*80)

t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

#문자열 포매팅
name = "김민수"
age = 10
print("이름: %s 나이: %d"%(name,age)) # formatting
print("이름: {} 나이: {}".format(name,age)) # format() 타입상관없음
print(f"이름: {name} 나이: {age} ") # f-string 타입상관없음

문자열수 = "5,969,782,550"
정수 = int(문자열수.replace(',',''))
print(정수,type(정수))

분기 = "2022/04(E) (IFRS연결)"
print(분기[:7])

# (r,l)strip 문자열 좌우 공백 제거
data = "     데이터     "
data1 = data.strip()
data2 = data.rstrip() #rsprip
data3 = data.lstrip() #lsprip
print("l",data,"l")
print("l",data1,"l")
print("l",data2,"l")
print("l",data3,"l")

hitom
********************************************************************************
python java python java python java python java
이름: 김민수 나이: 10
이름: 김민수 나이: 10
이름: 김민수 나이: 10
5969782550 <class 'int'>
2022/04
l      데이터      l
l 데이터 l
l      데이터 l
l 데이터      l

In [ ]:
# 문자열 메서드
# upper, lower 대소문자 변환
ticker =  "BTD_krw"
ticker_upper = ticker.upper()
ticker_lower = ticker.lower()
print(ticker_upper)
print(ticker_lower)

#capitalize 첫글자는 대문자, 뒤는 소문자로 변환
a = "hElLo"
a_cap = a.capitalize()
print(a_cap)

#startswith, endswith 문자열 시작, 끝부분 판별
file = "파일이름.xlsx"
print(file.startswith(("파일")))
print(file.endswith(("xlsx","xls")))

#split 기준을 설정해 문자열 분할하여 리스트 출력 
a = "hello world"
print(a.split(" "))
date = "2020-05-01"
print(date.split("-"))

BTD_KRW
btd_krw
Hello
True
True
['hello', 'world']
['2020', '05', '01']