In [ ]:
#list: 순서가 있고 수정 가능한 자료 구조
movie = ['앵커', '신비한 동물사전','모비우스']#list 생성
movie.append('해리포터') #값 추가
movie.insert(1,'닥터 스트레인지') #인덱스 위치지정 값 추가
del movie[:2] # 값 삭제

#list 덧셈. 요소가 합쳐져 1차 리스트로 출력
lang1 = ['C','C+','JAVA']
lang2 = ['C#','Python','JAVA']
langs = lang1 + lang2
print(langs)

#함수 활용
nums = [1,2,3,4,5,6,7]
print('max:',max(nums))
print('min:',min(nums))
print(sum(nums))
print(len(nums))
print('average:',sum(nums)/len(nums))

['C', 'C+', 'JAVA', 'C#', 'Python', 'JAVA']
max: 7
min: 1
28
7
average: 4.0

In [ ]:
#list 슬라이싱
price = ['20180728',100,130,140,150,160,170]
print(price[1:])

n = [1,2,3,4,5,6,7,8,9,10]
print(n[::2])
print(n[1::2])
print(n[::-1])

# join, split 메서드
interest = ['네이버','구글','카카오','삼성']
del interest[1]
print(interest)
print(interest, sep=' ') #리스트 형식 출력
print(' '.join(interest)) #요소만 출력
print('\n'.join(interest)) 
string = '네이버/카카오/삼성'
print(string.split('/'))

#list 정렬
a = [3,1,6,8,26,4,74]
print(sorted(a)) #정렬. 오름차순
a.sort()
print(a) #정렬2
a.reverse()
print(a)#역정렬. 내림차순

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['네이버', '카카오', '삼성']
['네이버', '카카오', '삼성']
네이버 카카오 삼성
네이버
카카오
삼성
['네이버', '카카오', '삼성']
[1, 3, 4, 6, 8, 26, 74]
[1, 3, 4, 6, 8, 26, 74]
[74, 26, 8, 6, 4, 3, 1]

In [10]:
# tuple
my_tuple = (1,) # tule은 값 하나라도 (,)붙여야 튜플로 인식
t =1,2,3,4
print(type(t)) #튜플은 괄호 생략 가능

#튜플은 수정 불가능
#튜플을 가리키는 변수가 다른 튜플을 가리키도록 수정 
a = ('a','b','c')
aa = list(a)
aa[0]='A'
a = tuple(aa)
print(a, type(a))

# range함수
# !~99중 짝수만 저장된 튜플 생성
data = tuple(range(2,100,2))
print(data, type(data))

<class 'tuple'>
('A', 'b', 'c') <class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>