In [ ]:
# 저장된 문자열의 길이 출력
리스트=['사탕','초콜릿','스트로베리케잌']
for i in 리스트:
  print(len(i))

# 저장된 문자열의 첫글자만 출력
for i in 리스트:
  print(i[0])

2
3
7
사
초
스

In [ ]:
# for문에 슬라이싱 활용
L =[1,2,3,4,5]
for i in L[:-1]:
  print(i)
print()
for i in L[::2]:
  print(i)
print()
for i in L[::-1]:
  print(i)

1
2
3
4

1
3
5

5
4
3
2
1

In [ ]:
# for문과 if문 조합 활용
# 리스트에서 음수만 출력
L = [-2, 3,6, -7,21,14,30,-18]
for i in L:
  if i<0:
    print(i)
print()
# 3의 배수만 출력
for i in L:
  if i%3==0:
    print(i)
print()
for i in L:
  if i%3==0 and i<20:
    print(i)

-2
-7
-18

3
6
21
30
-18

3
6
-18

In [ ]:
# 문자열에서 for문과 if문 조합 활용
리스트 = ['I','love','python','languge','!']
# 문자열 길이가 3글자 이상만 출력
for i in 리스트:
  if 2<len(i):
    print(i)
print()
# 대문자만 출력
L = ['A','b','c','D','e']
for i in L:
  if i.isupper():
    print(i)
# 아이템의 첫글자를 대문자로 변환하여 출력
L = ['dog', 'cat', 'bird']
for i in L:
  print(i[0].upper()+i[1:])

love
python
languge

A
D
Dog
Cat
Bird

In [1]:
# for문과 range조합 활용

# 0~4 사이 숫자 출력
for i in range(0,5):
  print(i)
print()
# 월드컵은 4년에 한 번씩 개최. 2002~2030까지 개최 연도 출력
for i in range(2002,2030,4):
  print(i)
print()

# 1~30 사이에서 3의 배수만 출력:
for i in range(3,15,3):
  print(i)
print()
for i in range (10):
  print(i/10)

0
1
2
3
4

2002
2006
2010
2014
2018
2022
2026

3
6
9
12

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [21]:
# 99부터 0까지 감소하는 숫자들을 한 라인에 10개씩 출력
for i in range(0,100,10):
  for j in range(90,100):
    a = j-i
    print (a,end=' ')
  print()

90 91 92 93 94 95 96 97 98 99
80 81 82 83 84 85 86 87 88 89
70 71 72 73 74 75 76 77 78 79
60 61 62 63 64 65 66 67 68 69
50 51 52 53 54 55 56 57 58 59
40 41 42 43 44 45 46 47 48 49
30 31 32 33 34 35 36 37 38 39
20 21 22 23 24 25 26 27 28 29
10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9

In [23]:
for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [27]:
# 구구단
for i in range(1,10):
  for j in range(2,10):
    print('%d*%d=%d '%(i,j,i*j),end=' ')
  print()

1*2=2  1*3=3  1*4=4  1*5=5  1*6=6  1*7=7  1*8=8  1*9=9
2*2=4  2*3=6  2*4=8  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18
3*2=6  3*3=9  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27
4*2=8  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36
5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45
6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54
7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63
8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72
9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

In [28]:
sum = 0
for i in range(1,11):
  sum += i
print(sum)

55

In [29]:
# 홀수 합만 출력
sum = 0
for i in  range(1,11):
  if i%2 == 1:
    sum += i
print (sum)

25

In [31]:
price = [1000,300,500,1200]
for i in price:
  print(price.index(i), ' ', i)

0   1000
1   300
2   500
3   1200

In [36]:
L = ['a','b','c','d']
for i in range(len(L)-1):
  print(L[i],L[i+1])

a b
b c
c d

In [38]:
L = ['가','나','다','라','마','바','사']
for i in range(len(L)-2):
  print(L[i], L[i+1],L[i+2])

가 나 다
나 다 라
다 라 마
라 마 바
마 바 사

In [45]:
apart = [[101,102,103,104],[201,202,203,204],[301,302,303,304]]

for row in apart:
  for col in row:
    print(col,'호',end=' ')
  print()

101 호 102 호 103 호 104 호
201 호 202 호 203 호 204 호
301 호 302 호 303 호 304 호

In [46]:
for row in apart[::-1]:
  for col in row[::-1]:
    print(col,'호',end=' ')
  print()

304 호 303 호 302 호 301 호
204 호 203 호 202 호 201 호
104 호 103 호 102 호 101 호

In [49]:
for row in apart:
  for col in row:
    print(col,'\n----')

101
----
102
----
103
----
104
----
201
----
202
----
203
----
204
----
301
----
302
----
303
----
304
----

In [72]:
# data에는 매수한 종목들이 open/high/low/close 가격 정보가 바인딩 되어 있다
# 수수료 0.014%를 포함한 가격을 result에 data와 동일한 형태로 저장
data = [
        [2000,3050,2050,1980],
        [7500,2050,2050,1980],
        [15450,15050,15550,14900]
]
result = []
for i in data:
  a = []
  for j in i:
    a.append(j*1.00014)
  result.append(a)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [81]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

# 종가만 print
for i in ohlc[1:]:
    print(i[3])
print()
# 종가가 시가보다 크거나 같은 경우에만 출력
for i in ohlc[1:]:
  if i[0] <= i[3]:
    print(i[3])
print()
# 고가와 저가의 차이인 변동폭을 리스트로 저장
volatility = []
for i in ohlc[1:]:
  volatility.append(i[1]-i[2])
print(volatility)
# 시가에 매수해서 종가에 매도했을 경우 총 수익금 계산
sum = 0
for i in ohlc[1:]:
  sum += i[0]-i[3]
print('총 수익금은',sum)

100
190
310

100
310

[40, 30, 10]
총 수익금은 0